
.subFooterPosition{
    position: relative;
    margin-top: 170px;

    .subFooterPositionFixed{
        left: 82px;
        position: absolute;
        top: -70px;
    }
}


.companyName{
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 20px;
}

.about{
    font-size: 14px;
    line-height: 28.5px;
    margin-bottom: 10px;
}