:root{
    --primary:#059E59;
    --third:red;
    --secondary:red;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}

/* h1,h2,h3,h4,h5,h6,div,p, a, span, small, label{
    color: var(--primary);
} */

.card{
    box-shadow: inset 1px 2px 15px 5px #ffffff6b, 0 4px 20px #00000026;
    transition: all .3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: inset 1px 2px 15px 5px #ffffff6b, 0 4px 20px #00000026;
}

.form-control{
    color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
}

.form-control:focus{
    box-shadow: none !important;
}


.btn-primary{
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.btn-outline-primary{
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn-secondary{
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.btn-outline-secondary{
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

.text-primary{
    color: var(--primary) !important;
}

.btn-link{
    color: var(--primary);
}

a{
    text-decoration: none;
}


.heading{
    color: var(--primary);
}


.testimonial-card{
    border: 1px solid var(--primary);
    height: 100% !important;
    padding: 15px;
}